html {
    height: 100%;

    body,
    #app {
        height: 100%;
    }

    .container-box {
        overflow-x: hidden;
    }
}

// 登录页面
.login.hero {
    height: 100%;
    justify-content: center;
    background-image: linear-gradient(to right top, #004080, #ffc383);

    .card-header {
        border-bottom-width: 0;
    }
    .card-header-title {
        padding: 1rem 1rem;

        span {
            font-size: $size-base * 1.3;
            font-weight: 550;
            color: $base-color;
        }
    }
    .hero-body {
        flex-grow: 0;
    }
    .field.password {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }
    .options {
        display: flex;
        justify-content: space-between;
        font-size: $size-base * 0.9;
        .forgot {
            cursor: pointer;
        }
    }
}
