// 这里是个人定义的组件
.is-divider {
    display: flex;
    align-items: center;
    color: #dadada;
    margin: 0.5rem 0;
    font-size: $size-base * 0.8;
    align-self: stretch;
    gap: 1rem;

    &::before,
    &::after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: #dadada;
    }
}

.notice-container {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    pointer-events: none;
    background-color: transparent;
    left: 0;
    top: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    .toast {
        display: block;
        background-color: $primary;
        color: #fff;
        padding: 0.5rem 2rem;
        border-radius: $radius;
        margin: 0.25rem 0;
        z-index: auto;
        animation-duration: 150ms;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
        &.danger {
            background-color: $danger;
        }
        &.warning {
            background-color: $warning;
        }
        &.success {
            background-color: $success;
        }
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
.fadeOut {
    animation-name: fadeOut;
}

@keyframes fadeInDown {
    from {
        opacity: 0.5;
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}
.fadeInDown {
    animation-name: fadeInDown;
}

// 这里是对bulma一些自定义样式

.is-tiles-wrapper {
    margin-bottom: $default-padding;
}

.modal-card {
    width: $modal-card-width;
}

.modal-card-foot {
    background-color: $modal-card-foot-background-color;
}

@include mobile {
    .modal .modal-card {
        width: $modal-card-width-mobile;
        margin: 0 auto;
    }
}

.is-user-avatar {
    &.has-max-width {
        max-width: $size-base * 7;
    }

    &.is-aligned-center {
        margin: 0 auto;
    }

    img {
        margin: 0 auto;
        border-radius: $radius-rounded;
    }
}

.icon.has-update-mark {
    position: relative;

    &:after {
        content: '';
        width: $icon-update-mark-size;
        height: $icon-update-mark-size;
        position: absolute;
        top: 1px;
        right: 1px;
        background-color: $icon-update-mark-color;
        border-radius: $radius-rounded;
    }
}

// 登录页面
.login.hero {
    height: 100%;
    justify-content: center;
    background-image: linear-gradient(to right top, #123456, #eee);

    .card-header-title {
        padding: 1rem 1rem;

        span {
            font-size: $size-base * 1.3;
            font-weight: 550;
            color: $base-color;
        }
    }
    .hero-body {
        flex-grow: 0;
    }

    .field.password {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }
}
